/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.floatRight {
    float: right;
}

.appBorder {
    border: 1px solid grey;
}

.appFont{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}