<mat-card class="font textAlignStart" [ngClass]="{'marginLeft': !message.incoming, 'marginRight': message.incoming}">
  <div fxLayout="column">
    <div fxFlex="90" class="overflowBreakWord">
      {{message.text}}
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="end end">    
      <div fxFlex>
        {{message.sender}}
      </div>
      <div fxLayout="row" class="timeStyle" fxFlex="30" fxLayoutAlign="center center">
        <span class="dot" [style.background-color]="message.state === 'pending' ? '#ecdd7b' : message.state === 'success' ? '#7dce82' : '#de1a1a'"></span>
        <div>{{message.time | amTimeAgo}}</div>
      </div>
    </div>
  </div>
</mat-card>