<mat-card class="font textAlignStart" [ngClass]="{'marginLeft': !message.incoming, 'marginRight': message.incoming}">
  <div fxLayout="column">
    <div fxFlex="90" class="overflowBreakWord">
      {{message.text}}
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="end end">    
      <div fxFlex>
        {{message.sender}}
      </div>
      <div fxLayout="row" class="timeStyle" fxFlex="30" fxLayoutAlign="center center">
        <span class="dot"></span>
        <div>{{message.sentAt | fromNow}}</div>
      </div>
    </div>
  </div>
</mat-card>